In [1]:
#Importing all the necessary libraries....
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
import pandas as pd
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk

In [3]:
df = pd.read_csv('Data - SPAM text.csv')

In [4]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
#Creating a function to remove all the stopwords in a sentence.
def datacleaning(x):
    y=nltk.word_tokenize(x)
    temp=[]
    for i in y:
        if i in stopwords.words("english"): 
            pass
        else:
            temp.append(i)
    my_new_string=' '.join(temp)
    return (my_new_string)

In [6]:
df['Clean_message']=df['Message'].apply(datacleaning)

In [7]:
#Creating a function to lemmatize words in a sentence.
def my_lemmatizer(a):
    c=nltk.word_tokenize(a)
    my_list=[]
    for i in c:
        my_list.append(lemmatizer.lemmatize(i))
        my_new_string=' '.join(my_list)
    return my_new_string

In [8]:
df['Lemmatized_message']=df['Clean_message'].apply(my_lemmatizer)

In [9]:
#Creating a function to count the length of text.
def Text_count(x):
    y=nltk.word_tokenize(x)
    temp=[]
    for i in y: 
         temp.append(i)
    d=' '.join(temp)
    return(len(d.split()))

In [10]:
df['Lenghth_text']=df['Clean_message'].apply(Text_count)

In [11]:
df

,Category,Message,Clean_message,Lemmatized_message,Lenghth_text
0,ham,"Go until jurong point, crazy.. Available only ...","Go jurong point , crazy .. Available bugis n g...","Go jurong point , crazy .. Available bugis n g...",20
1,ham,Ok lar... Joking wif u oni...,Ok lar ... Joking wif u oni ...,Ok lar ... Joking wif u oni ...,8
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry 2 wkly comp win FA Cup final tkts 2...,Free entry 2 wkly comp win FA Cup final tkts 2...,32
3,ham,U dun say so early hor... U c already then say...,U dun say early hor ... U c already say ...,U dun say early hor ... U c already say ...,11
4,ham,"Nah I don't think he goes to usf, he lives aro...","Nah I n't think goes usf , lives around though","Nah I n't think go usf , life around though",10
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,This 2nd time tried 2 contact u. U £750 Pound ...,This 2nd time tried 2 contact u. U £750 Pound ...,27
5568,ham,Will ü b going to esplanade fr home?,Will ü b going esplanade fr home ?,Will ü b going esplanade fr home ?,8
5569,ham,"Pity, * was in mood for that. So...any other s...","Pity , * mood . So ... suggestions ?","Pity , * mood . So ... suggestion ?",9
5570,ham,The guy did some bitching but I acted like i'd...,The guy bitching I acted like 'd interested bu...,The guy bitching I acted like 'd interested bu...,16
5571,ham,Rofl. Its true to its name,Rofl . Its true name,Rofl . Its true name,5

In [13]:
#Removing the numbers from the text.
def rem_num(x):
    temp=[]
    for i in x:
        if i.isdigit(): 
            pass
        else:
            temp.append(i)
    hi=''.join(temp)
    return hi

In [14]:
rem_num('Hi 0029 i am 10 Nityam 20 and 30')

'Hi  i am  Nityam  and '

In [15]:
df['Rem_num']=df['Clean_message'].apply(rem_num)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()

In [17]:
vectorizer.fit(df['Rem_num'])

CountVectorizer()

In [18]:
vectorizer.get_feature_names_out()

array(['____', 'aa', 'aah', ..., 'zyada', 'èn', '〨ud'], dtype=object)

In [19]:
vectorizer.get_feature_names_out()[0:100]

array(['____', 'aa', 'aah', 'aaniye', 'aaooooright', 'aathi', 'ab',
       'abbey', 'abdomen', 'abeg', 'abel', 'aberdeen', 'abi', 'ability',
       'abiola', 'abj', 'able', 'abnormally', 'about', 'aboutas',
       'abroad', 'absence', 'absolutely', 'absolutly', 'abstract', 'abt',
       'abta', 'aburo', 'abuse', 'abusers', 'ac', 'academic', 'acc',
       'accent', 'accenture', 'accept', 'access', 'accessible',
       'accidant', 'accident', 'accidentally', 'accommodation',
       'accommodationvouchers', 'accomodate', 'accomodations', 'accordin',
       'accordingly', 'account', 'accounting', 'accounts', 'accumulation',
       'achan', 'ache', 'achieve', 'acid', 'acknowledgement', 'aclpm',
       'acnt', 'aco', 'across', 'act', 'acted', 'actin', 'acting',
       'action', 'activ', 'activate', 'active', 'activities', 'actor',
       'actual', 'actually', 'ad', 'ada', 'adam', 'add', 'addamsfa',
       'added', 'addicted', 'addie', 'adding', 'address', 'adds',
       'adewale', 'adi', 'adjustable', 'admin', 'administrator',
       'admirer', 'admission', 'admit', 'adore', 'adoring', 'adp',
       'adress', 'adrian', 'adrink', 'ads', 'adsense', 'adult'],
      dtype=object)

In [20]:
vector=vectorizer.transform(df['Rem_num'])

In [21]:
vector

<5572x7797 sparse matrix of type '<class 'numpy.int64'>'
	with 50587 stored elements in Compressed Sparse Row format>

In [22]:
x=vector.toarray()

In [23]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
len(vectorizer.get_feature_names_out())

7797